body {
    background-color: gray;
    padding-top: 20%;
}

header {
    font-size: 25px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: lightblue;
    border-radius: 30px;
    padding: 5px;
}

h4 {
    font-size: 15px;
    text-align: center;
}

li {
    text-decoration: none;
    list-style-type: circle;
    color: blue;
    justify-content: center;
    display: flex;
}

a {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline red;
}

h5,
h6 {
    text-align: center;
}
